@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}
body{
    background:#D6EFD8;
}
.weatherCard{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #508D4E, #1A5319);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;  
}
.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weather{
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 600;
}
.weather h2{
    font-size: 45px;
    font-weight: 500;
}
.weather > i{
    font-size: 150px;
    margin-bottom: 10px;
}
.details{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.details i{
    font-size: 45px;
}
.col{
    display: flex;
    align-items: center;
    text-align:left;
    gap: 5px;
}
.details p{
    font-size: 20px;
    font-weight: 400;
}